<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>ChangePassword</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<script>
	// get value of input
    function getValue(id){
        return document.getElementById(id).value.trim();
    }
    //check validate
    function validate()
    {
        var flag = true;
        var oldpassword = getValue("address");
        if (oldpassword == "" ){
            alert( "Please provide your oldpassword!" );
            flag = false;
        }

        var newpassword = getValue("password");
        var repassword = getValue("repassword");
        if (password == "" || password.length < 8 || (newpassword != repassword && oldpassword != newpassword)){
            alert( "password incorrect!" );
            flag = false;
        }
        return flag;
    }
</script>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Change Password</h1>

        <!-- show all message from signin-->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>User name or Email</label>
                <input type="text" class="form-control" name="email" id="email" >
            </div>
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="form-control" name="oldpassword" id="oldpassword">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="newpassword" id="newpassword">
            </div>
            <div class="form-group">
                <label> Enter Password again</label>
                <input type="password" class="form-control" name="repassword" id="repassword">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Change Password</button>
        </form>

        <hr>

        <p> Go <a href="/">home</a>.</p>

    </div>

</div>
</body>
</html>