<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Reset password</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show all message from login -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- Send Email FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Enter Your Email</label>
                <input type="text" class="form-control" name="email" id="email" >
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Send Email</button>
        </form>

        <hr>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</body>
</html>