<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<script>
	// get value of input
    function getValue(id){
        return document.getElementById(id).value.trim();
    }
    //check validate
    function validate()
    {
        var flag = true;
        var username = getValue("username");
        if (username == "" || username.length < 5 || !/^[a-zA-Z0-9]+$/.test(username)){
            alert( "Please provide your name!" );
            flag = false;
        }
        var email = getValue("email");
        var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if (!mailformat.test(email)){  
            alert( "Please provide your Email!" );
            flag = false;
        }
        var password = getValue("password");
        var repassword = getValue("repassword");
        if (password == "" || password.length < 8 || password != repassword){
            alert( "Please provide your password!" );
            flag = false;
        }
        return flag;
    }
</script>

<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show all message from signup -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" name = "myForm" method="post">
            <div class="form-group">
                <label>Account</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group">
                <label>Enter Password again</label>
                <input type="password" class="form-control" name="repassword" id="repassword">
            </div>
            <div class="form-group">
                <label>Address</Address></label>
                <input type="text" class="form-control" name="address" id="address">
            </div>

            <button type="submit" onclick="return validate();" class="btn btn-warning btn-lg ">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</body>
</html>